.menu-root {
    -fx-background-image: url("/title_background2.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover;
    -fx-background-color: black;
    -fx-font-family: "Garamond";
}

.label {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #f5e6c8;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.85), 4, 1, 0, 2);
}

.title {
    -fx-font-size: 68px;
}

.score {
    -fx-font-size: 40px;
    -fx-background-color: rgba(44, 26, 2, 0.35);
}

.score-small {
    -fx-font-size: 38px;
    -fx-font-weight: normal;
    -fx-background-color: rgba(44, 26, 2, 0.25);
}

.score, .score-small {
    -fx-text-fill: #f5e6c8;
    -fx-padding: 10 20 10 20;
    -fx-background-radius: 8;
}

.credit {
    -fx-font-size: 30px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.85), 4, 1, 0, 2);
}

.button {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 8, 0.3, 0, 2);
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 10 20 10 20;
}

.button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.start-button {
    -fx-font-size: 38px;
    -fx-background-color: #09813f;
    -fx-text-fill: #f5e6c8;
    -fx-border-color: #4e2d03;
    -fx-border-width: 2px;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}

.start-button:hover {
    -fx-background-color: #4e2d03;
}

.toggle-view-button {
    -fx-font-size: 24px;
    -fx-background-color: #9619df;
    -fx-text-fill: #ffffff;
}

.game-mode-button {
    -fx-font-size: 24px;
    -fx-background-color: #5bcdaa;
    -fx-text-fill: #ffffff;
}

.toggle-view-button,
.game-mode-button {
    -fx-pref-width: 220px;
    -fx-min-width: 220px;
    -fx-max-width: 220px;
    -fx-alignment: center;
}