.controls-layout {
    -fx-background-image: url("/images/background_2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover;
}

.button {
    -fx-font-size: 38px;
    -fx-background-color: #ffcc00;
    -fx-text-fill: #4e2f00;
}